* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4px;
}

.pad-top {
    padding-top: 16px;
}

.hcenter {
    display: flex;
    justify-content: center;
    text-align: center;
}

g.grid {
    stroke-width: 0.1;
}

text.value-label {
    font-size: 10px;
    text-anchor: middle;
    dominant-baseline: middle;
}

.value-label.white {
    fill: white;
}

@media only screen and (min-width: 600px) {
    .container {
        padding: 0 16px;
    }
}
